#gov{
     border: solid 1px;
     padding-top: 10px;
     padding-left: 20px;
     font-family:cursive;
}
#ram{
    border: solid 1px;
    font-family:cursive;
}
#siv{
    border: solid 1px;
    font-family:cursive;
}
#taj{
    border: solid 1px;
    font-family:cursive;
}